/*Réglages général*/

html ,body{
    font-family: 'Raleway', sans-serif;
    margin: 0px 20px 0px 20px;
    
}

ul{
    list-style: none;
}

a:link 
    { 
     text-decoration:none; 
     }

p{
    font-size: 85%;
    margin-bottom: 5px;
}
/*header*/

.filter:hover{
    color: red;
}

.hpage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding-top: 15px;
}

nav{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.color13{
    color: #0065FC;
}
.color2{
    color: black;
}

/*icone barre de recherche et bouton*/

.icone{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    height: 45px;
}

.search{
    display: flex;
}


input{
    color: black;
    font-weight: bold;
    height: 45px;
    padding: 10px;
}

button{
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    border: 1px #0065FC;
    color: white;
    font-weight: bold;
    height: 45px;
    width: 115px;
}
/* filtres et icones boites parents*/
.filtres{
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 15px;
    
}

.filtreIconTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 20px 20px;
    border: 2px solid #F2F2F2;
    height: 40px;
    margin-left: 25px;

}
/* changement de couleur au survol des filtres*/

.filtreIconTitle:hover > .filtreIcon{
    color: #0065FC;
}

.filtreIconTitle:hover > .filtreName{
    color: #0065FC;
}

/* config icones des filtres et nom associés enfants*/

.filtreIcon{
    display: flex;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 20px;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
}

.filtreName{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding-left: 10px;
    padding-right: 15px;
    font-weight: bold;
}

/* partie information entre les filtres et la section hébergements*/

.info{
    display: flex;
    padding-bottom: 25px;
}

.icInf{
    display: flex;
    align-items: center;
    justify-content: center;
}

.incInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    height: 22px;
    width: 22px;
    font-size: 12px;
    color: #0065FC;
}

.textInf{
    margin-left: 15px;
}

/* section 1 hébergement*/

#location{
    display: flex;
    justify-content: space-between;
    height: 625px;
}

.locat{
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    margin: 0px 36px 0px 0px;
    width: 880px;
    height: 620px;
    border-radius: 20px;
    flex: 2;
}

.blue{
    color: #0065FC;
}

.title_hm{
    display: flex;
    align-items: baseline;
    margin-left: 62px;
    height: 60px;
    padding-top: 20px;
}
.massilia{
    width: 880px;
    
}


.more{
    display: flex;
    align-items: flex-end;
    height: 50px;
    margin-left: 62px;
}

.card_h{
    display: flex;
    width: 320px;
    height: 190px;
    background-color: white;
    border: 4px white solid;
    border-radius: 20px;
    flex-direction: column;
    position: relative;
    margin-left: 50px;
    margin-bottom: 48px;
}



.photo_h{
    display: flex;
    height: 110px;
}

.photo_h > .fam_h{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    object-position: 58% 54%;
}

.night_h{
    width: 240px;
    height: 60px;
    background-color: white;
    padding-left: 10px;
    padding-top: 7px;
    margin-top: 110px;
    position: absolute;
    
}

.hotel_name_price > h4 {
    margin: 0%;
}
    
.hotel_name_pricep > .hotel_pop_title{
    margin-bottom: 5px;
    margin-top: 10px;
}

/* partie les plus populaires*/
.fav{                             /* boite général*/
    background-color: #F2F2F2;
    width: 420px;
    height: 620px;
    border-radius: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
/*partie titre et icone rubrique les plus populaires*/
.titlepop{
    display: flex;
    justify-content: space-between;
    height: 45px;
    margin-left: 70px;
    margin-top: 20px;
}

.iconepop{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.iconepop > .arrow{
    margin-top: 20px;
    font-size: larger;
}
/*carte avec photo texte icones*/
.famous{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 530px;
}

.photo_p{
    display: flex;
    height: 125px;
    width: 140px;
}

.night_p{
    width: 180px;
    height: 125px;
    background-color: white;
    position: absolute;
    margin-left: 145px;
    padding-left: 20px;
}
.card_p{
    display: flex;  
    height: 150px;
    width: 450px;
    position: relative;
    background-color: white;
    border: 4px white solid;
    border-radius: 20px;
    margin-left: 70px;
}

.photo_p > .fam_p{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 0px 0px 15px;
    object-fit: cover;
    display: block;
}

.stars_pop{
    display: flex;
    height: 62px;
    align-items: flex-end;
}

/*partie activités à Marseille bloc principaux*/
#activity{
    margin-top: 50px;
    margin-bottom: 50px;
}

.activ_marseille{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
}

.bloc_1{
    width: 100%;
    height: 600px;
}
.activ_2{
    width: 23%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*réglages titres cartes d'activités*/
.title_place{
    height: 70px;
    display: flex;
    align-items: center;
    margin: 0;
}
.name_activity{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    width: 95%;
}

/*réglages bloc cartes entier*/
.activ_cards_port{
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
.activ_cards_fort{
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
    width: 100%;
    height: 320px;
}
.activ_cards_iles{
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
    height: 245px;
}
.activ_cards_parc{
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
.activ_cards_dame{
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
.activ_cards_long{
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
/* réglages images*/
.localisation_activity_port > .port{
    width: 100%;
    height: 535px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.localisation_activity_fort > .fort{
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.localisation_activity_iles > .iles{
    width: 100%;
    height: 180px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.localisation_activity_parc > .parc{
    width: 100%;
    height: 535px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.localisation_activity-dame > .dame{
    width: 100%;
    height: 210px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.localisation_activity_long > .long{
    width: 100%;
    height: 210px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

/*réglages footer*/

.foot{
    background-color: #F2F2F2;
    display: flex;
    width: 100%;
    height: 300px;
    margin-top: 80px;
    justify-content: space-between;
    align-items: center;
}

.about .about1 .about3{
    height: 150px;
}
.about1{
    margin-left: 2%;
}
.about3{
    margin-right: 25%;
}