/*Réglages général*/

html ,body{
    font-family: 'Raleway', sans-serif;
    margin: 0px 20px 0px 20px;
    
}

ul{
    list-style: none;
}

a:link 
    { 
     text-decoration:none; 
     }

p{
    font-size: 85%;
}

/*header*/

.filter:hover{
    color: red;
}

.hpage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    padding-top: 15px;
}

nav{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.color13{
    color: #0065FC;
}
.color2{
    color: black;
}

/*icone barre de recherche et bouton*/

.icone{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width: 50px;
    height: 45px;
}

.search{
    display: flex;
}


input{
    color: black;
    font-weight: bold;
    height: 45px;
    padding: 10px;
}

button{
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    border: 1px #0065FC;
    color: white;
    font-weight: bold;
    height: 45px;
    width: 115px;
}
/* filtres et icones boites parents*/
.filtres{
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 15px;
    
}

.filtreIconTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 20px 20px;
    border: 2px solid #F2F2F2;
    height: 40px;
    margin-left: 25px;

}
/* changement de couleur au survol des filtres*/

.filtreIconTitle:hover > .filtreIcon{
    color: #0065FC;
}

.filtreIconTitle:hover > .filtreName{
    color: #0065FC;
}

/* config icones des filtres et nom associés enfants*/

.filtreIcon{
    display: flex;
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 20px;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
}

.filtreName{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding-left: 10px;
    padding-right: 15px;
    font-weight: bold;
}

/* partie information entre les filtres et la section hébergements*/

.info{
    display: flex;
}

.icInf{
    display: flex;
    align-items: center;
    justify-content: center;
}

.incInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    height: 22px;
    width: 22px;
    font-size: 12px;
    color: #0065FC;
}

.textInf{
    margin-left: 15px;
}

/* section 1 hébergement*/

#location{
    display: flex;
    justify-content: space-between;
    height: 625px;
}

.locat{
    background-color: #F2F2F2;
    padding: 0px 36px 0px 36px;
    margin: 0px 36px 0px 0px;
    width: 880px;
    height: 620px;
    border-radius: 20px;
    flex: 2;
}

.blue{
    color: #0065FC;
}

.massilia{
    width: 880px;
}

.multi_boxh,.multi_boxb{
    display: flex;
    justify-content: space-between;
    height: 40%;
    

}   


.card_h{
    width: 250px;
    height: 200px;
    background-color: white;
    border: 4px white solid;
    border-radius: 20px;
    position: relative;
    margin
}

.photo_h{
    display: flex;
    height: 110px;
}

.photo_h > .fam_h{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    background-size: cover;
    background-position: center;
}

.night_h{
    width: 230px;
    height: 80px;
    background-color: white;
    position: absolute;
    border-radius: 15px 15px 15px 15px;
}

.hotel_name_price > h4 {
    margin: 0%;
}
    


/* partie les plus populaires*/
.fav{                             /* boite général*/
    background-color: #F2F2F2;
    width: 420px;
    height: 620px;
    border-radius: 20px;
    padding: 0px 36px 0px 36px;
    flex: 1;
}
/*partie titre et icone rubrique les plus populaires*/
.titlepop{
    display: flex;
    justify-content: space-between;
}

.iconepop{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
/*carte avec photo texte icones*/
.photo_p{
    display: flex;
    height: 125px;
    width: 140px;
}

.night_p{
    width: 250px;
    height: 125px;
    background-color: white;
    position: absolute;
    margin-left: 115px;
}
.card_p{
    display: flex;  
    height: 125px;
    position: relative;
    background-color: white;
    border: 4px white solid;
    border-radius: 20px;
}

.photo_p > .fam_p{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 125px;
    border-radius: 15px 0px 0px 15px;
}